## Working with the DataBase: VENPAYBI

### The Table dbo.BiTXEnqueuersInstantKpis

In [1]:
import os
import sys
import warnings
warnings.filterwarnings('ignore')

sys.path.insert(1, r'C:\Users\AdebanjiAdelowo\OneDrive - N-and Group Ltd\Documents\N-ANDITALIA\Private')
import securitydetail

In [2]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

First establish connection to the database using python

In [3]:
import pandas as pd
import matplotlib.pyplot as plt


# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server =  securitydetail.server
database =  securitydetail.database 
username = securitydetail.username
password = securitydetail.password    

engine = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = engine.cursor()

In [4]:
query = """SELECT *
          FROM [VENPAY-BI].[dbo].[BiTXEnqueuers] B INNER JOIN [VENPAY-BI].[dbo].[BiTXEnqueuersInstantKpis] BE 
            ON B.PK_BiTXEnqueuerId = BE.FK_BiTXEnqueuerId
 """

df_bitx3 = pd.read_sql(query, engine)
df_bitx3

,PK_BiTXEnqueuerId,Hostname,EnqueuerName,QueueName,LastKpi,PK_BiTXEnqueuersInstantKpisId,FK_BiTXEnqueuerId,ReferenceDate,RetrieveCompletedCounter,RetrieveErrorsCounter,FilterCompletedCounter,FilterErrorsCounter,EnqueueCompletedCounter,EnqueueErrorsCounter,IsRetrieveError,IsFilterError,IsEnqueueError,LastEventId,LastEventInsertDate
0,3,conn01,BiTXSQSEn1,VegaSQS_DAI,2023-07-27 15:40:00,3,3,2022-12-19 08:05:00,537,0,137,0,400,0,False,False,False,873335233,2022-12-19 08:04:49.840
1,3,conn01,BiTXSQSEn1,VegaSQS_DAI,2023-07-27 15:40:00,8,3,2022-12-19 08:10:00,754,0,272,0,482,0,False,False,False,873339431,2022-12-19 08:09:37.950
2,10,conn01,BiTXSQSEn2,VegaSQS_IVSItalia_2,2023-10-12 08:30:00,14,10,2022-12-19 08:10:00,900,0,0,9,0,0,False,True,False,0,NaT
3,3,conn01,BiTXSQSEn1,VegaSQS_DAI,2023-07-27 15:40:00,17,3,2022-12-19 08:15:00,811,0,288,0,523,0,False,False,False,873343863,2022-12-19 08:14:40.443
4,10,conn01,BiTXSQSEn2,VegaSQS_IVSItalia_2,2023-10-12 08:30:00,23,10,2022-12-19 08:15:00,900,0,0,9,0,0,False,True,False,0,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504520,13,conn01,BiTXSQSEn3,VegaSQS_IVSGermany,2023-10-12 08:25:00,430772,13,2023-06-14 07:00:00,3,0,1,0,2,0,False,False,False,965099180,2023-06-14 06:56:08.010
504521,13,conn01,BiTXSQSEn3,VegaSQS_IVSGermany,2023-10-12 08:25:00,430780,13,2023-06-14 07:05:00,3,0,1,0,2,0,False,False,False,965101832,2023-06-14 07:00:56.873
504522,13,conn01,BiTXSQSEn3,VegaSQS_IVSGermany,2023-10-12 08:25:00,430794,13,2023-06-14 07:15:00,3,0,1,0,2,0,False,False,False,965107942,2023-06-14 07:13:03.607
504523,13,conn01,BiTXSQSEn3,VegaSQS_IVSGermany,2023-10-12 08:25:00,430832,13,2023-06-14 07:35:00,5,0,0,0,5,0,False,False,False,965118443,2023-06-14 07:34:13.760
504524,13,conn01,BiTXSQSEn3,VegaSQS_IVSGermany,2023-10-12 08:25:00,430848,13,2023-06-14 07:40:00,3,0,0,0,3,0,False,False,False,965120690,2023-06-14 07:39:05.380

In [5]:
drop_cols = ['PK_BiTXEnqueuerId', 'PK_BiTXEnqueuersInstantKpisId','FK_BiTXEnqueuerId']

df_bitx_noids = df_bitx3.drop(drop_cols, axis=1)
df_bitx_noids

,Hostname,EnqueuerName,QueueName,LastKpi,ReferenceDate,RetrieveCompletedCounter,RetrieveErrorsCounter,FilterCompletedCounter,FilterErrorsCounter,EnqueueCompletedCounter,EnqueueErrorsCounter,IsRetrieveError,IsFilterError,IsEnqueueError,LastEventId,LastEventInsertDate
0,conn01,BiTXSQSEn1,VegaSQS_DAI,2023-07-27 15:40:00,2022-12-19 08:05:00,537,0,137,0,400,0,False,False,False,873335233,2022-12-19 08:04:49.840
1,conn01,BiTXSQSEn1,VegaSQS_DAI,2023-07-27 15:40:00,2022-12-19 08:10:00,754,0,272,0,482,0,False,False,False,873339431,2022-12-19 08:09:37.950
2,conn01,BiTXSQSEn2,VegaSQS_IVSItalia_2,2023-10-12 08:30:00,2022-12-19 08:10:00,900,0,0,9,0,0,False,True,False,0,NaT
3,conn01,BiTXSQSEn1,VegaSQS_DAI,2023-07-27 15:40:00,2022-12-19 08:15:00,811,0,288,0,523,0,False,False,False,873343863,2022-12-19 08:14:40.443
4,conn01,BiTXSQSEn2,VegaSQS_IVSItalia_2,2023-10-12 08:30:00,2022-12-19 08:15:00,900,0,0,9,0,0,False,True,False,0,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504520,conn01,BiTXSQSEn3,VegaSQS_IVSGermany,2023-10-12 08:25:00,2023-06-14 07:00:00,3,0,1,0,2,0,False,False,False,965099180,2023-06-14 06:56:08.010
504521,conn01,BiTXSQSEn3,VegaSQS_IVSGermany,2023-10-12 08:25:00,2023-06-14 07:05:00,3,0,1,0,2,0,False,False,False,965101832,2023-06-14 07:00:56.873
504522,conn01,BiTXSQSEn3,VegaSQS_IVSGermany,2023-10-12 08:25:00,2023-06-14 07:15:00,3,0,1,0,2,0,False,False,False,965107942,2023-06-14 07:13:03.607
504523,conn01,BiTXSQSEn3,VegaSQS_IVSGermany,2023-10-12 08:25:00,2023-06-14 07:35:00,5,0,0,0,5,0,False,False,False,965118443,2023-06-14 07:34:13.760
504524,conn01,BiTXSQSEn3,VegaSQS_IVSGermany,2023-10-12 08:25:00,2023-06-14 07:40:00,3,0,0,0,3,0,False,False,False,965120690,2023-06-14 07:39:05.380

In [6]:
df_bitx3.describe()

,PK_BiTXEnqueuerId,PK_BiTXEnqueuersInstantKpisId,FK_BiTXEnqueuerId,RetrieveCompletedCounter,RetrieveErrorsCounter,FilterCompletedCounter,FilterErrorsCounter,EnqueueCompletedCounter,EnqueueErrorsCounter,LastEventId
count,504525.000000,504525.000000,504525.000000,504525.000000,504525.000000,504525.000000,504525.000000,504525.000000,504525.000000,5.045250e+05
mean,8.711715,290190.740215,8.711715,179.559816,0.000224,45.736094,0.007583,123.039734,0.206222,9.211477e+08
std,3.927614,170870.761773,3.927614,214.761062,0.015356,66.993651,0.235432,142.149761,1.980933,1.312318e+08
min,2.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,5.000000,144385.000000,5.000000,3.000000,0.000000,0.000000,0.000000,2.000000,0.000000,9.024801e+08
50%,9.000000,284947.000000,9.000000,135.000000,0.000000,22.000000,0.000000,95.000000,0.000000,9.292799e+08
75%,12.000000,426271.000000,12.000000,270.000000,0.000000,65.000000,0.000000,198.000000,0.000000,9.626582e+08
max,14.000000,638404.000000,14.000000,4500.000000,2.000000,1868.000000,10.000000,3528.000000,20.000000,1.033579e+09

In [7]:

query = """ SELECT FK_BiTXEnqueuerId, 
                COUNT(*) AS Count1,
                SUM(EnqueueCompletedCounter) AS Count2
        FROM [VENPAY-BI].[dbo].[BiTXEnqueuers] B INNER JOIN [VENPAY-BI].[dbo].[BiTXEnqueuersInstantKpis] BE 
            ON B.PK_BiTXEnqueuerId = BE.FK_BiTXEnqueuerId
        GROUP BY FK_BiTXEnqueuerId, EnqueuerName
 """

df_bitx3 = pd.read_sql(query, engine)
df_bitx3

    FK_BiTXEnqueuerId  Count1    Count2
0                  13   53316    110508
1                  11   44068  10239819
2                   3   40031  10372120
3                   4   40031     59281
4                   5    8181         0
5                   9   44068   9091245
6                  12   53316   7967109
7                   2   40031     11018
8                   8   44068   9108437
9                   6   40031   4256465
10                 14   53316   2481260
11                 10   44068   8379360