In [3]:
import os
import sys
import warnings
warnings.filterwarnings('ignore')

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import pyodbc
import datetime
import numpy as np

# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'vpay-asdmi.public.21203d2a181c.database.windows.net,3342' 
database = 'VENPAY-BI' 
username = 'nandaa' 
password = 'Timileyin1998'  

engine = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = engine.cursor()

### MpayMerchantsInstantKpis

In [ ]:
query = """
  SELECT *
  FROM [VENPAY-BI].[dbo].[MpayMerchantsInstantKpis] 
"""

df_MpayMerchants = pd.read_sql(query, engine)
df_MpayMerchants

,PK_MpayMerchantsDailyKpiId,EK_MerchantId,Inserted,ReferenceDate,ActiveUsersCounter,ActiveStickersCounter,TotalStickersCounter,TotalTransactionsCounter,WalletsTransactionsCounter,CardsTransactionsCounter,...,WalletsSelectionsCounter,CardsSelectionsCounter,TotalTransactionsValue,WalletsTransactionsValue,CardsTransactionsValues,ExtUserIdTransactionsValue,TotalRechargesValue,CardsRechargesValue,CashRechargesValue,TotalWalletsBalance
0,1,1,2022-12-01 20:19:32.800,2022-12-01 20:10:00,0,0,32,0,0,0,...,0,0,0,0,0,0,45000,45000,0,931408184
1,2,2,2022-12-01 20:19:32.833,2022-12-01 20:10:00,0,0,17,0,0,0,...,0,0,0,0,0,0,45000,45000,0,931408184
2,3,4,2022-12-01 20:19:32.837,2022-12-01 20:10:00,0,0,23,0,0,0,...,0,0,0,0,0,0,45000,45000,0,931408184
3,4,6,2022-12-01 20:19:32.840,2022-12-01 20:10:00,0,0,56,0,0,0,...,0,0,0,0,0,0,45000,45000,0,931408184
4,5,7,2022-12-01 20:19:32.847,2022-12-01 20:10:00,81,88,73635,79,74,5,...,98,5,65480,61080,4400,0,62550,45000,17550,931408184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3893935,3893936,106,2023-06-29 14:39:42.230,2023-06-29 14:30:00,0,0,1,0,0,0,...,0,0,0,0,0,0,290000,290000,0,1154743059
3893936,3893937,107,2023-06-29 14:39:42.233,2023-06-29 14:30:00,0,0,1,0,0,0,...,0,0,0,0,0,0,290000,290000,0,1154743059
3893937,3893938,108,2023-06-29 14:39:42.240,2023-06-29 14:30:00,0,0,0,0,0,0,...,0,0,0,0,0,0,290000,290000,0,1154743059
3893938,3893939,109,2023-06-29 14:39:42.240,2023-06-29 14:30:00,0,0,6,0,0,0,...,0,0,0,0,0,0,290000,290000,0,1154743059
3893939,3893940,110,2023-06-29 14:39:42.247,2023-06-29 14:30:00,0,0,0,0,0,0,...,0,0,0,0,0,0,290000,290000,0,1154743059

In [ ]:
df_MpayMerchants.head()

,PK_MpayMerchantsDailyKpiId,EK_MerchantId,Inserted,ReferenceDate,ActiveUsersCounter,ActiveStickersCounter,TotalStickersCounter,TotalTransactionsCounter,WalletsTransactionsCounter,CardsTransactionsCounter,...,WalletsSelectionsCounter,CardsSelectionsCounter,TotalTransactionsValue,WalletsTransactionsValue,CardsTransactionsValues,ExtUserIdTransactionsValue,TotalRechargesValue,CardsRechargesValue,CashRechargesValue,TotalWalletsBalance
0,1,1,2022-12-01 20:19:32.800,2022-12-01 20:10:00,0,0,32,0,0,0,...,0,0,0,0,0,0,45000,45000,0,931408184
1,2,2,2022-12-01 20:19:32.833,2022-12-01 20:10:00,0,0,17,0,0,0,...,0,0,0,0,0,0,45000,45000,0,931408184
2,3,4,2022-12-01 20:19:32.837,2022-12-01 20:10:00,0,0,23,0,0,0,...,0,0,0,0,0,0,45000,45000,0,931408184
3,4,6,2022-12-01 20:19:32.840,2022-12-01 20:10:00,0,0,56,0,0,0,...,0,0,0,0,0,0,45000,45000,0,931408184
4,5,7,2022-12-01 20:19:32.847,2022-12-01 20:10:00,81,88,73635,79,74,5,...,98,5,65480,61080,4400,0,62550,45000,17550,931408184

In [ ]:
df_MpayMerchants.tail(10)

,PK_MpayMerchantsDailyKpiId,EK_MerchantId,Inserted,ReferenceDate,ActiveUsersCounter,ActiveStickersCounter,TotalStickersCounter,TotalTransactionsCounter,WalletsTransactionsCounter,CardsTransactionsCounter,...,WalletsSelectionsCounter,CardsSelectionsCounter,TotalTransactionsValue,WalletsTransactionsValue,CardsTransactionsValues,ExtUserIdTransactionsValue,TotalRechargesValue,CardsRechargesValue,CashRechargesValue,TotalWalletsBalance
3893930,3893931,101,2023-06-29 14:39:42.210,2023-06-29 14:30:00,0,0,2,0,0,0,...,0,0,0,0,0,0,290000,290000,0,1154743059
3893931,3893932,102,2023-06-29 14:39:42.213,2023-06-29 14:30:00,0,0,3,0,0,0,...,0,0,0,0,0,0,290000,290000,0,1154743059
3893932,3893933,103,2023-06-29 14:39:42.217,2023-06-29 14:30:00,0,0,0,0,0,0,...,0,0,0,0,0,0,290000,290000,0,1154743059
3893933,3893934,104,2023-06-29 14:39:42.220,2023-06-29 14:30:00,0,0,0,0,0,0,...,0,0,0,0,0,0,290000,290000,0,1154743059
3893934,3893935,105,2023-06-29 14:39:42.227,2023-06-29 14:30:00,0,0,0,0,0,0,...,0,0,0,0,0,0,290000,290000,0,1154743059
3893935,3893936,106,2023-06-29 14:39:42.230,2023-06-29 14:30:00,0,0,1,0,0,0,...,0,0,0,0,0,0,290000,290000,0,1154743059
3893936,3893937,107,2023-06-29 14:39:42.233,2023-06-29 14:30:00,0,0,1,0,0,0,...,0,0,0,0,0,0,290000,290000,0,1154743059
3893937,3893938,108,2023-06-29 14:39:42.240,2023-06-29 14:30:00,0,0,0,0,0,0,...,0,0,0,0,0,0,290000,290000,0,1154743059
3893938,3893939,109,2023-06-29 14:39:42.240,2023-06-29 14:30:00,0,0,6,0,0,0,...,0,0,0,0,0,0,290000,290000,0,1154743059
3893939,3893940,110,2023-06-29 14:39:42.247,2023-06-29 14:30:00,0,0,0,0,0,0,...,0,0,0,0,0,0,290000,290000,0,1154743059